.center-fit {
  max-width: 100%;
  max-height: 70vh;
  margin: auto;
}

.rotate-btn {
  margin: 3px;
  background-color: #4745bd;
  color: white;
}

.filters-btn {
  margin: 3px;
  background-color: #812c86;
  color: white;
}

.tuning-btn {
  margin: 3px;
  background-color: #86511e;
  color: white;
}

.resize-btn {
  margin: 3px;
  background-color: #818615;
  color: white;
}

.transform-btn {
  margin: 3px;
  background-color: #518621;
  color: white;
}

image-cropper {
  max-height: 33vh;
}
